#wrapper {
	width: 960px;
	margin-right: auto;
	margin-left: auto;
	font-size: 16px;
	font-family: sans-serif;
}


body {
	background-color: #000000;
}


header {
	padding-top: 20px;
	padding-bottom: 85px;
	height: 50px;
	text-align: center;
}

nav {
	text-align: center;
}

nav ul {
	list-style-type: none;
}

nav li {
	display: inline;
	margin-right: 40px;
}

a {
	color: #ffffff;
	text-decoration: none;
}


section {
	width: 960px;
	float: left;
	padding: 15px;
	margin-top: 5px;
	margin-right: 15 px;
	margin-bottom: 10px;
	background-color: #000000;
}


.article {
	height: 120px;
	margin-top: 50px;
	margin-bottom: 50px;
}

.article img {
	float: left;
	padding: 5px;
	margin-right: 10px;
	margin-top: 25px;
	margin-left: -30px;
	padding: 60px;
}

.article a {
	font-size: 18px;
}

.article h1 {
	color: #ffffff;
	font-size: 40px;
}

.article p {
	color: #ffffff;
	font-size: 30px;
}


footer {
	clear: both;
	background-color: #000000;
}

footer ul {
	float: left;
	list-style: none;
	padding: 0px;
}

footer li {
	margin-right: 15px;
	display: inline;
}

footer p {
	text-align: right;
	margin-right: 20px;
	color: #ffffff;
	float: right;
}


#latest {
	margin: 15px;
}

#latest h1 {
	color: #ffffff;
	padding-bottom: 10px;
	font-size: 40px;
}


#howitworks {
	margin: 15px;
}

#howitworks h1 {
	color: #ffffff;
	padding-bottom: 10px;
	font-size: 40px;
}

#howitworks p {
	color: #ffffff;
	padding-bottom: 10px;
	font-size: 30px;
}


#faq {
	margin: 15px;
}

#faq h1 {
	color: #ffffff;
	padding-bottom: 10px;
	font-size: 40px;
}


#contact {
	margin: 15px;
}

#contact h1 {
	color: #ffffff;
	padding-bottom: 10px;
	font-size: 40px;
}